{% extends 'crm/layout/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'crm/dist/css/bootstrap3-wysihtml5.min.css' %}">
    <style>
        iframe {
            max-width: 100%;
        }

        input.error {
            border: red 1px solid;
            position: relative;
            box-shadow: 0 0 4px 0 firebrick;
        }
        select.error {
            border: red 1px solid;
            position: relative;
            box-shadow: 0 0 4px 0 firebrick;
        }
        textarea.error {
            border: red 1px solid;
            position: relative;
            box-shadow: 0 0 4px 0 firebrick;
        }

        .container-fluid {
            font-size: 14px;
        }

        .select2-dropdown {
          background-color: white;
          border: 1px solid #aaa;
          border-radius: 4px;
          box-sizing: border-box;
          display: block;
          position: absolute;
          left: -100000px;
          width: 100%;
          z-index: 1051;
        }
        .select2-container .select2-selection--single {
          height: 38px !important;
          padding-left: 3px !important;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
          line-height: 28px !important;
          font-size: 16px !important;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
          height: 38px !important;
          margin-right: 10px !important;
        }
        .select2-results__option:hover{
            color: white !important;
            background-color: #01a65a !important;
        }
        .select2-container--default .select2-results__option[aria-selected=true] {
          background: #01a65a;
        }
    </style>
{% endblock %}

{% block applications %}class="nav-link active-link" style="color: black; background-color: #e1f1ea"{% endblock %}

{% block title %}Заявка №{{ object.id }}{% endblock %}
{% block name_page %}Заявка №{{ object.id }}{% endblock %}
{% block previos_link %}<a href="{% url 'applications_list' %}" style="color: #494949">/ Заявки вызова мастера </a><a href="{% url 'application_detail' object.id %}" style="color: #494949">/ Заявка №{{ object.id }}</a>{% endblock %}
{% block nav %}Редактирование{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" id="form">
    {% csrf_token %}
    <div class="row" style="padding-bottom: 10px; margin: 0">
        <div class="col-xl-6">
            <div class="row">
                <div class="input-group col-xl-6" style="padding-bottom: 10px">
                    <div class="form-control" style="max-width: 40px"><i class="fa fa-calendar-alt"></i></div>
                    <div class="input-group-append">
                        {{ form.date }}
                    </div>
                </div>
                <div class="input-group col-xl-6">
                    <span style="padding-top: 4px; padding-right: 10px">от</span>
                    <div class="form-control glyphicon glyphicon-time" style="max-width: 40px"><i class="fa fa-clock"></i></div>
                    <div class="input-group-append">
                        {{ form.time }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-box" style="min-height: 0">
        <div class="container-fluid">
            <div class="row" style="padding: 8px 3px 0 3px">
                <div class="col-xl-6">
                    <p style="font-weight: bold; margin: 0; padding-bottom: 3px">{{ form.owner.label }} {% if object.apartment.owner %}<a href="{% url 'owner_detail' object.apartment.owner.id %}"> <i class="fa fa-external-link-alt"></i></a>{% endif %}</p>
                    {{ form.owner }}
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">Телефон: <span id="telephone" style="color: #4f94d2">{% if object.apartment.owner and object.apartment.owner.telephone %}{{ object.apartment.owner.telephone }}{% else %}(Не указан){% endif %}</span></p>
                </div>
                <div class="col-xl-6">
                    <p style="font-weight: bold; margin: 0">Дом: <span id="house" style="color: #4f94d2">
                        {% for house in houses %}
                            {% if object.apartment.section in house.sections.all %}
                                {{ house.name }}
                            {% endif %}
                        {% endfor %}
                    </span>
                    </p>
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">Секция: <span id="section" style="font-weight: normal">{{ object.apartment.section }}</span></p>
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">Этаж: <span id="floor" style="font-weight: normal">{{ object.apartment.floor }}</span></p>
                </div>
            </div>
            <div class="row" style="padding: 10px 3px 10px 3px">
                <div class="col-xl-6">
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.description.label }}</p>
                    {{ form.description }}
                </div>
                <div class="col-xl-6">
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.apartment.label }}</p>
                    {{ form.apartment }}
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.type_master.label }}</p>
                    {{ form.type_master }}
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.status.label }}</p>
                    {{ form.status }}
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.master.label }}</p>
                    {{ form.master }}
                </div>
            </div>

            <div style="padding-top: 10px">
                <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.comment.label }}</p>
                {{ form.comment }}
            </div>

            <div style="text-align: right; padding: 15px 16px 15px 0">
                <a href="{% url 'personal_accounts_list' %}" class="btn btn-default">Отменить</a>
                <input type="submit" class="btn btn-success" name="save" value="Сохранить">
            </div>
        </div>
    </div>
    <div style="height: 30px"></div>
</form>
{% endblock %}

{% block script %}
    <script src="{% static 'crm/dist/js/bootstrap3-wysihtml5.all.js' %}"></script>
    <script src="{% static 'crm/dist/js/bootstrap-wysihtml5.ru-RU.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
    <script src="{% static 'crm/scripts/applications/application_create.js' %}"></script>
    <script>
        // AJAX
        $('#id_owner').change(function (){
            $('#telephone, #house, #section, #floor').html('')
            let owner_id = $(this).val()
            $.ajax({
                url: '{% url "get_apartment_by_owner" %}',
                type: 'GET',
                data: {'owner_id': owner_id},
                success: (data) => {
                    $('#id_apartment option').remove()
                    if (data.apartments) {
                        let data_apartments = data.apartments
                        let apartments = ''
                        $(data_apartments).each(function (index, value) {
                            apartments += "<option value=" + value.id + ">" + value.number + ", " + value.house + "</option>"
                        })
                        $("#id_apartment").append("<option value selected>Выберите...</option>")
                        $("#id_apartment").append(apartments)
                    } else {
                        $("#id_apartment").append("<option value selected>Выберите...</option>")
                    }
                },
                error: (data) => {
                    console.log('no')
                }
            })
        })

        $('#id_apartment').change(function (){
            $('#telephone, #house, #section, #floor').html('')
            let apartment_id = $(this).val()
            $.ajax({
                url: '{% url "get_apartment_by_owner" %}',
                type: 'GET',
                data: {'apartment_id': apartment_id},
                success: (data) => {
                    if (data.owner_id) {
                        $('#id_owner').val(data.owner_id).trigger('change.select2')
                    } else {
                        $('#id_owner').val('').trigger('change.select2')
                    }

                    $('#telephone').html(data.telephone)
                    $('#house').html(data.house)
                    $('#section').html(data.section_name)
                    $('#floor').html(data.floor)
                },
                error: (data) => {
                    console.log('no')
                }
            })
        })


        // wysihtml5 EDITOR
        $('#id_comment').wysihtml5({
            locale: 'ru-RU',
            toolbar: {
                "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
                "emphasis": true, //Italics, bold, etc. Default true
                "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                "html": false, //Button which allows you to edit the generated HTML. Default false
                "link": false, //Button to insert a link. Default true
                "image": false, //Button to insert an image. Default true,
                "color": false, //Button to change color of font
                "blockquote": false, //Blockquote
                "fa": true,
                "size": 'none' //default: none, other options are xs, sm, lg
            }
        });


        // SELECT 2
        $(document).ready(function() {
            $('.select-owner').select2({
                placeholder: 'Выберите...',
                width: '100%',
                allowClear: true,
                language: {
                    "noResults": function () {
                        return 'Ничего не найдено.'
                    }
                }
            });
            $('#id_apartment').select2({
                placeholder: 'Выберите...',
                width: '100%',
                allowClear: true,
                language: {
                    "noResults": function () {
                        return 'Ничего не найдено.'
                    }
                }
            });
        });


        // VALIDATION
        $("#form").validate({
          rules: {

          },
          messages: {
              date: {required: '* Обязательное поле'},
              time: {required: '* Обязательное поле'},
              description: {required: '* Обязательное поле'},
              apartment: {required: '* Обязательное поле'},
          },
          wrapper: 'span',
          errorPlacement: function (error, element) {
              error.css({'text-align': 'left', 'font-size': '14px', 'color': 'red', 'width': '100%'});
              error.insertAfter(element);
          }
        });
        $('input[name="date"]').mask('99.99.9999');
        $('input[name="time"]').timepicker({
            showInputs: false,
            showMeridian: false,
        });
    </script>
{% endblock %}