{% extends 'crm/layout/base.html' %}
{% load static %}

{% block style %}
    <style>
        .sort-name:hover {
            cursor: pointer;
        }
        .sort-date:hover {
            cursor: pointer;
        }
        .hover-li:hover {
            background-color: lightgrey;
        }
    </style>

{% endblock %}

{% block personal-accounts %}class="nav-link active-link" style="color: black; background-color: #e1f1ea"{% endblock %}

{% block title %}Лицевые счета{% endblock %}
{% block name_page %}Лицевые счета{% endblock %}
{% block nav %}Лицевые счета{% endblock %}

{% block content %}
    <div class="row" style="padding: 0 10px 10px 10px">
        <div class="col-xl-9">
            <div class="row">
                <div class="col-xl-4">
                    <div class="small-box bg-green overflow-hidden">
                        <div class="inner">
                            <h3>{% if cashbox %}{{ cashbox }}{% else %}0,00{% endif %} грн</h3>
                            <p>Состояние кассы</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar-sign"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="small-box bg-blue overflow-hidden">
                        <div class="inner">
                            <h3>{% if balance %}{{ balance }}{% else %}0,00{% endif %} грн</h3>
                            <p>Баланс по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar-sign"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="small-box bg-red overflow-hidden">
                        <div class="inner">
                            <h3>{% if debt_balance %}{{ debt_balance }}{% else %}0,00{% endif %} грн</h3>
                            <p>Задолженность по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar-sign"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3" style="text-align: right">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выберите действие <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="hover-li"><a style="padding: 5px; color: #6c757d" href="{% url 'personal_account_create' %}">Добавить лицевой счет</a></li>
                <li class="hover-li"><span style="padding: 5px; color: #6c757d; cursor: pointer" onclick="tableToExcel('my-table')">Выгрузить в Excel</span></li>
            </ul>
        </div>
    </div>
    <div class="my-box" style="min-height: 0">
        <div class="container-fluid">
            <div style="text-align: right; padding-right: 2px; padding-top: 5px; margin-bottom: 5px">
                <a id="clear" href="{% url 'personal_accounts_list' %}" class="btn btn-default" style="font-size: 14px; max-height: 34px">Очистить</a>
            </div>
            <form method="get" id="form" action="{% url 'personal_accounts_list' %}">
                <table id="my-table" class="table table-hover table-striped table-responsive no-padding" style="color: #333333; font-size: 14px">
                    <thead>
                        <tr>
                            <th style="width: 10%">№</th>
                            <th style="width: 10%">Статус</th>
                            <th style="width: 5%">Квартира</th>
                            <th style="width: 25%">Дом</th>
                            <th style="width: 10%">Секция</th>
                            <th style="width: 25%">Владелец</th>
                            <th style="width: 10%">Остаток(грн.)</th>
                            <th style="width: 5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px; min-width: 90px"><input type="number" class="form-control" name="number" id="number"></td>
                            <td style="padding: 5px; min-width: 90px">
                                <select class="form-select" name="status" id="status">
                                  <option hidden disabled selected value></option>
                                  <option value="active">Активен</option>
                                  <option value="inactive">Неактивен</option>
                                </select>
                            </td>
                            <td style="padding: 5px; min-width: 80px"><input type="number" class="form-control" name="apartment" id="apartment"></td>
                            <td style="padding: 5px; min-width: 150px">
                                <select class="form-select" name="house" id="house">
                                    <option hidden disabled selected value></option>
                                    {% for house in houses %}
                                        <option value="{{ house.id }}">{{ house.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td style="padding: 5px; min-width: 150px">
                                <select class="form-select" name="section" id="section" {% if not sections %}style="font-size: 15px; height: 38px; color: grey"{% endif %}>
                                    <option hidden disabled selected value></option>
                                    {% if sections %}
                                        {% for section in sections %}
                                            <option value="{{ section.name }}">{{ section.name }}</option>
                                        {% endfor %}
                                        {% else %}
                                            <option value="" disabled selected hidden >Выберите дом</option>
                                    {% endif %}
                                </select>
                            </td>
                            <td style="padding: 5px; min-width: 150px">
                                <select class="form-select" name="owner" id="owner">
                                    <option hidden disabled selected value></option>
                                    {% for owner in owners %}
                                        <option value="{{ owner.id }}">{{ owner.last_name }} {{ owner.first_name }} {{ owner.patronymic }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td style="padding: 5px; min-width: 90px">
                                <select class="form-select" name="debt" id="debt">
                                  <option hidden disabled selected value></option>
                                  <option value="yes">Есть долг</option>
                                  <option value="no">Нет долга</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        {% for personal_account in personal_accounts %}
                            <tr>
                                <td data-href="{% url 'personal_account_detail' personal_account.id %}" class="tr-link">{{ personal_account }}</td>
                                <td data-href="{% url 'personal_account_detail' personal_account.id %}" class="tr-link">
                                    {% if personal_account.status == 'active' %}
                                    <small class="btn btn-sm btn-success status">Активен</small>
                                    {% elif personal_account.status == 'inactive' %}
                                    <small class="btn btn-sm btn-danger status">Неактивен</small>
                                    {% endif %}
                                </td>
                                <td data-href="{% url 'personal_account_detail' personal_account.id %}" class="tr-link">{% if personal_account.apartment %}{{ personal_account.apartment.number }}{% else %}(Нет){% endif %}</td>
                                <td data-href="{% url 'personal_account_detail' personal_account.id %}" class="tr-link">
                                    {% if personal_account.apartment %}
                                        {% for house in houses %}
                                            {% for section in house.sections.all %}
                                                {% if section.id == personal_account.apartment.section.id %}
                                                    {{ house.name }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        (Нет)
                                    {% endif %}
                                </td>
                                <td data-href="{% url 'personal_account_detail' personal_account.id %}" class="tr-link">{% if personal_account.apartment %}{{ personal_account.apartment.section }}{% else %}(Нет){% endif %}</td>
                                <td data-href="{% url 'personal_account_detail' personal_account.id %}" class="tr-link">
                                    {% if personal_account.apartment %}
                                        {% if personal_account.apartment.owner %}
                                            {{ personal_account.apartment.owner.last_name }} {{ personal_account.apartment.owner.first_name }} {{ personal_account.apartment.owner.patronymic }}
                                        {% endif %}
                                    {% else %}
                                        (Нет)
                                    {% endif %}
                                </td>
                                <td data-href="{% url 'personal_account_detail' personal_account.id %}" class="tr-link">
                                    {% if personal_account.balance > 0 %}
                                        <span style="color: #00a65a">{{ personal_account.balance }}</span>
                                    {% elif personal_account.balance < 0 %}
                                        <span style="color: red">{{ personal_account.balance }}</span>
                                    {% else %}
                                        {{ personal_account.balance }}
                                    {% endif %}
                                </td>
                                <td style="padding: 6px 5px 7px 4px">
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-default btn-sm" href="{% url 'personal_account_update' personal_account.id %}" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil-alt"></i></a>
                                        <button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ forloop.counter }}"><i class="fa fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal-{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel-{{ forloop.counter }}" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header bg-danger">
                                    <h5 class="modal-title" id="deleteModalLabel-{{ forloop.counter }}">Подтверждение удаления</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <form method="post" action="{% url 'personal_account_delete' personal_account.id %}">
                                      {% csrf_token %}
                                      <div class="modal-body">
                                          Вы действительно хотите удалить лицевой счет <b>№{{ personal_account }}</b>?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <div style="padding-bottom: 15px">
                <span>Колличество счетов: <b>{{ personal_accounts|length }}</b></span>
            </div>
        </div>
    </div>
    <div style="height: 30px"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'crm/scripts/personal_accounts/personal_accounts_list.js' %}"></script>
    <script>
        // Filters
        init_data()
        $('#clear').click(clear)


        // Messages
        {% if messages %}
        Swal.fire({
          backdrop: false,
          position: 'top-end',
          padding: 0,
          icon: 'success',
          width: 300,
          html: '{% for message in messages %}{{ message }}{% endfor %}',
          showConfirmButton: false,
          timer: 1500,
        })
        {% endif %}
    </script>
{% endblock %}