{% extends 'crm/layout/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .sort-date:hover {
            cursor: pointer;
        }
        .sort-month:hover {
            cursor: pointer;
        }
        .hover-li:hover {
            background-color: lightgrey;
        }
    </style>
{% endblock %}

{% block invoices %}class="nav-link active-link" style="color: black; background-color: #e1f1ea"{% endblock %}

{% block title %}Квитанции на оплату{% endblock %}
{% block name_page %}Квитанции на оплату{% endblock %}
{% block nav %}Квитанции на оплату{% endblock %}

{% block content %}
    <div class="row" style="padding: 0 10px 10px 10px">
        <div class="col-xl-9">
            <div class="row">
                <div class="col-xl-4">
                    <div class="small-box bg-green overflow-hidden">
                        <div class="inner">
                            <h3>{% if cashbox %}{{ cashbox }}{% else %}0,00{% endif %} грн</h3>
                            <p>Состояние кассы</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar-sign"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="small-box bg-blue overflow-hidden">
                        <div class="inner">
                            <h3>{% if balance %}{{ balance }}{% else %}0,00{% endif %} грн</h3>
                            <p>Баланс по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar-sign"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="small-box bg-red overflow-hidden">
                        <div class="inner">
                            <h3>{% if debt_balance %}{{ debt_balance }}{% else %}0,00{% endif %} грн</h3>
                            <p>Задолженность по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar-sign"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3" style="text-align: right">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выберите действие <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="hover-li"><a style="padding: 5px; color: #6c757d" href="{% url 'transaction_create' %}?type=income">Создать общую квитанцию</a></li>
                <li id="delete" class="hover-li"><span style="padding: 5px; color: #6c757d">Удалить</span></li>
            </ul>
        </div>
    </div>
    <div class="my-box" style="min-height: 0">
        <div class="container-fluid">
            <div style="text-align: right; padding-right: 2px; padding-top: 5px; margin-bottom: 5px">
                <a id="clear" href="{% url 'invoices_list' %}" class="btn btn-default" style="font-size: 14px; max-height: 34px">Очистить</a>
            </div>
            <form method="get" id="form">
                <table id="my-table" class="table table-hover table-striped table-responsive no-padding" style="color: #333333; font-size: 14px; padding-bottom: 10px">
                    <thead>
                        <tr>
                            <th style="width: 0%"><input type="checkbox" id="check-all"></th>
                            <th style="width: 12%; min-width: 150px">№ квитанции</th>
                            <th style="width: 8%">Статус</th>
                            <th style="width: 8%" class="sort-date"><span style="color: #72afd2" id="sort-date-span">Дата</span></th>
                            <th style="width: 8%" class="sort-month"><span style="color: #72afd2" id="sort-month-span">Месяц</span></th>
                            <th style="width: 24%">Квартира</th>
                            <th style="width: 24%">Владелец</th>
                            <th style="width: 8%">Проведена</th>
                            <th style="width: 8%">Сумма(грн)</th>
                            <th style="width: 0%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td style="padding: 5px"><input type="number" class="form-control" name="number" id="number"></td>
                            <td style="padding: 5px">
                                <select class="form-select" name="status" id="status">
                                    <option hidden disabled selected value></option>
                                    <option value="paid">Оплачена</option>
                                    <option value="p_paid">Частично оплачена</option>
                                    <option value="unpaid">Неоплачена</option>
                                </select>
                            </td>
                            <td style="padding: 5px"><input type="text" class="form-control" name="input_date" id="input_date"></td>
                            <td style="padding: 5px"><input type="text" class="form-control" name="input_month" id="input_month"></td>
                            <td style="padding: 5px">
                                <select class="form-select" name="apartment" id="apartment">
                                    <option hidden disabled selected value></option>
                                    {% for apartment in apartments %}
                                        <option value="{{ apartment.id }}">{{ apartment.number }}, {% for house in houses %}{% if apartment.section in house.sections.all %}{{ house.name }}{% endif %}{% endfor %}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select class="form-select" name="owner" id="owner">
                                    <option hidden disabled selected value></option>
                                    {% for owner in owners %}
                                        <option value="{{ owner.id }}">{{ owner.last_name }} {{ owner.first_name }} {{ owner.patronymic }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select class="form-select" name="is_held" id="is_held">
                                    <option hidden disabled selected value></option>
                                    <option value="true">Проведена</option>
                                    <option value="false">Непроведена</option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% for invoice in invoices %}
                            <tr>
                                <td><input type="checkbox" value="{{ invoice.id }}" class="delete"></td>
                                <td data-href="{% url 'invoice_detail' invoice.id %}" class="tr-link">{{ invoice }}</td>
                                <td data-href="{% url 'invoice_detail' invoice.id %}" class="tr-link">
                                    {% if invoice.status == 'paid' %}
                                    <small class="btn btn-sm btn-success status">Оплачена</small>
                                    {% elif invoice.status == 'p_paid' %}
                                    <small class="btn btn-sm btn-warning status">Частично</small>
                                    {% elif invoice.status == 'unpaid' %}
                                    <small class="btn btn-sm btn-danger status">Неоплачена</small>
                                    {% endif %}
                                </td>
                                <td data-href="{% url 'invoice_detail' invoice.id %}" class="tr-link">{{ invoice.date|date:"d.m.Y" }}</td>
                                <td data-href="{% url 'invoice_detail' invoice.id %}" class="tr-link">{{ invoice.date|date:"F Y" }}</td>
                                <td data-href="{% url 'invoice_detail' invoice.id %}" class="tr-link">{{ invoice.apartment.number }}, {% for house in houses %}{% if invoice.apartment.section in house.sections.all %}{{ house.name }}{% endif %}{% endfor %}</td>
                                <td data-href="{% url 'invoice_detail' invoice.id %}" class="tr-link">{% if invoice.apartment.owner %}{{ invoice.apartment.owner.last_name }} {{ invoice.apartment.owner.first_name }} {{ invoice.apartment.owner.patronymic }}{% else %}(не задано){% endif %}</td>
                                <td data-href="{% url 'invoice_detail' invoice.id %}" class="tr-link">{% if invoice.is_held %}Проведена{% else %}Не проведена{% endif %}</td>
                                <td data-href="{% url 'invoice_detail' invoice.id %}" class="tr-link">{{ invoice.amount }}</td>
                                <td style="padding: 6px 5px 7px 4px">
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-default btn-sm" href="" title="Копировать" data-toggle="tooltip"><i class="fas fa-copy"></i></a>
                                        <a class="btn btn-default btn-sm" href="" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil-alt"></i></a>
                                        <button type="button" class="btn btn-default btn-sm not-allowed" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ forloop.counter }}"><i class="fa fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal-{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel-{{ forloop.counter }}" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header bg-danger">
                                    <h5 class="modal-title" id="deleteModal1Label-{{ forloop.counter }}">Подтверждение удаления</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <form method="post" action="">
                                      {% csrf_token %}
                                      <div class="modal-body">
                                          Вы действительно хотите удалить квитанцию <b>№ {{ invoice }}</b>?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="hidden" name="filter-date" value="" id="filter-date">
            </form>
        </div>
    </div>
    <div style="height: 30px"></div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="{% static 'crm/scripts/invoices/invoices_list.js' %}"></script>
    <script>
        // Filters
        init_data()
        if (localStorage.counter) {
            delete localStorage.counter
            $('#form').submit()
        }
        $('#clear').click(clear)


        $('input[name="input_date"]').daterangepicker({
            opens: 'center',
            autoUpdateInput: false,
            locale: {
                format: 'DD.MM.YYYY',
                "applyLabel": "Ок",
                "cancelLabel": "Отмена",
                "fromLabel": "От",
                "toLabel": "До",
                "customRangeLabel": "Произвольный",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                firstDay: 1
            }
        });
        $('input[name="input_date"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('DD.MM.YYYY') + ' - ' + picker.endDate.format('DD.MM.YYYY'));
        });
        $('input[name="input_date"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });


        // select checkboxes for delete invoices
        $("#check-all").change(function () {
            $('.delete').prop("checked", this.checked);
        });
        $('#delete').click(function (){
            let idx = ''
            $('.delete').each(function (index, element){
                if ($(element).is(':checked')){
                    idx += $(element).val() + ' '
                }
            })
            console.log(idx)
        })


        // Messages
        {% if messages %}
        Swal.fire({
          backdrop: false,
          position: 'top-end',
          padding: 0,
          icon: 'success',
          width: 300,
          html: '{% for message in messages %}{{ message }}{% endfor %}',
          showConfirmButton: false,
          timer: 1500,
        })
        {% endif %}
    </script>
{% endblock %}