{% extends 'crm/layout/base.html' %}
{% load static %}

{% block style %}
    <style>
        .sort:hover {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block settings %}menu-is-opening menu-open{% endblock %}
{% block tariffs %}class="nav-link active-link" style="color: black; background-color: #e1f1ea"{% endblock %}
{% block tariffs-active %}class="black"{% endblock %}


{% block title %}Тарифы{% endblock %}
{% block name_page %}Тарифы{% endblock %}
{% block nav %}Тарифы{% endblock %}

{% block content %}
    <div style="float: right; padding-right: 10px; margin-top: -50px">
        <a href="{% url 'tariff_create' %}" class="btn btn-success">Добавить тариф</a>
    </div>
    <div class="my-box" style="margin-top: 50px; min-height: 0">
        <div class="container-fluid">
            <form method="get" id="form">
                <table class="table table-hover table-striped table-responsive no-padding" style="color: #333333; font-size: 14px; padding-bottom: 20px;">
                    <thead>
                        <tr>
                            <th style="width: 25%" class="sort"><span style="color: #72afd2" id="sort-span">Название тарифа </span></th>
                            <th style="width: 50%">Описание тарифа</th>
                            <th style="width: 25%">Дата редактирования</th>
                            <th style="width: 0%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tariff in tariffs %}
                            <tr>
                                <td data-href="{% url 'tariff_detail' pk=tariff.id %}" class="tr-link">{{ tariff.name }}</td>
                                <td data-href="{% url 'tariff_detail' pk=tariff.id %}" class="tr-link">{{ tariff.description }}</td>
                                <td data-href="{% url 'tariff_detail' pk=tariff.id %}" class="tr-link">{{ tariff.date_edit|date:"d.m.Y - H:i" }}</td>
                                <td style="padding: 6px 5px 7px 4px; float: right">
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-default btn-sm" href="{% url 'tariff_create' %}?id={{ tariff.id }}" title="Копировать" data-toggle="tooltip"><i class="fas fa-copy"></i></a>
                                        <a class="btn btn-default btn-sm" href="{% url 'tariff_update' pk=tariff.id %}" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil-alt"></i></a>
                                        <button type="button" class="btn btn-default btn-sm not-allowed" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ forloop.counter }}"><i class="fa fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal-{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel-{{ forloop.counter }}" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header bg-danger">
                                    <h5 class="modal-title" id="deleteModal1Label-{{ forloop.counter }}">Подтверждение удаления</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <form method="post" action="{% url 'tariff_delete' tariff.id %}">
                                      {% csrf_token %}
                                      <div class="modal-body">
                                          Вы действительно хотите удалить <b>{{ tariff.name }}</b>?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="hidden" name="filter" value="" id="filter">
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'crm/scripts/system-settings/tariffs/tariffs.js' %}"></script>
    <script>
        init_data()

        {% if messages %}
        Swal.fire({
          backdrop: false,
          position: 'top-end',
          padding: 0,
          icon: 'success',
          width: 300,
          html: '{% for message in messages %}{{ message }}{% endfor %}',
          showConfirmButton: false,
          timer: 1500,
        })
        {% endif %}
    </script>
{% endblock %}