{% extends 'crm/layout/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .sort-date:hover {
            cursor: pointer;
        }
        .sort-month:hover {
            cursor: pointer;
        }
        .hover-li:hover {
            background-color: lightgrey;
        }
    </style>
{% endblock %}

{% block meter-readings %}class="nav-link active-link" style="color: black; background-color: #e1f1ea"{% endblock %}

{% block title %}Показания счетчиков, кв.{{ apartment.number }}{% endblock %}
{% block name_page %}Показания счетчиков, кв.{{ apartment.number }}{% endblock %}
{% block previos_link %}<a href="{% url 'meter_readings_list' %}" style="color: #494949">/ Счетчики</a>{% endblock %}
{% block nav %}Показания счетчиков, кв.{{ apartment.number }}{% endblock %}

{% block content %}
    <div style="text-align: right; padding-right: 10px; padding-bottom: 10px">
        <a href="{% url 'meter_reading_create' %}?apartment_id={{ apartment.id }}" class="btn btn-success">Добавить показание</a>
    </div>
    <div class="my-box" style="min-height: 0">
        <div class="container-fluid">
            <div style="text-align: right; padding-right: 2px; padding-top: 5px; margin-bottom: 5px">
                <a id="clear" href="{% url 'meter_readings_by_apartment_list' %}?apartment_id={{ apartment.id }}" class="btn btn-default" style="font-size: 14px; max-height: 34px">Очистить</a>
            </div>
            <form method="get" id="form">
                {% csrf_token %}
                <input type="hidden" name="apartment_id" id="apartment_id" value="{{ apartment.id }}">
                <table class="table table-hover table-striped table-responsive no-padding" style="color: #333333; font-size: 14px; padding-bottom: 10px">
                    <thead>
                        <tr>
                            <th style="width: 10%">№</th>
                            <th style="width: 7%">Статус</th>
                            <th style="width: 7%" class="sort-date"><span style="color: #72afd2" id="sort-date-span">Дата </span></th>
                            <th style="width: 7%" class="sort-month"><span style="color: #72afd2" id="sort-month-span">Месяц </span></th>
                            <th style="width: 21%">Дом</th>
                            <th style="width: 16%">Секция</th>
                            <th style="width: 7%">№квартиры</th>
                            <th style="width: 11%">Счетчик</th>
                            <th style="width: 7%">Показания</th>
                            <th style="width: 7%">Ед. изм.</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px"><input type="text" class="form-control" name="number" id="number"></td>
                            <td style="padding: 5px">
                                <select class="form-select" name="status" id="status">
                                  <option hidden disabled selected value></option>
                                  <option value="new">Новый</option>
                                  <option value="accounted">Учтено</option>
                                  <option value="paid">Учтено и оплачено</option>
                                  <option value="zero">Нулевое</option>
                                </select>
                            </td>
                            <td style="padding: 5px"><input type="text" class="form-control" name="input_date" id="input_date"></td>
                            <td style="padding: 5px"><input type="text" class="form-control" readonly></td>
                            <td style="padding: 5px">
                                <select class="form-select" disabled>
                                    <option>{% for house in houses %}{% for section in house.sections.all %}{% if section == apartment.section %}{{ house.name }}{% endif %}{% endfor %}{% endfor %}</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select class="form-select" disabled>
                                    <option>{{ apartment.section }}</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select class="form-select" disabled>
                                    <option>{{ apartment.number }}</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select class="form-select" name="meter" id="meter">
                                    <option hidden disabled selected value></option>
                                    {% for meter in meters %}
                                        <option value="{{ meter.id }}">{{ meter.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td style="padding: 5px"></td>
                            <td style="padding: 5px"></td>
                            <td style="padding: 5px"></td>
                        </tr>
                        {% for meter_reading in meter_readings %}
                            <tr>
                                <td data-href="{% url 'meter_reading_detail' meter_reading.id %}" class="tr-link">{{ meter_reading }}</td>
                                <td data-href="{% url 'meter_reading_detail' meter_reading.id %}" class="tr-link">
                                    {% if meter_reading.status == 'new' %}
                                        <small class="btn btn-sm btn-warning status">Новое</small>
                                    {% elif meter_reading.status == 'accounted' %}
                                        <small class="btn btn-sm btn-success status">Учтено</small>
                                    {% elif meter_reading.status == 'paid' %}
                                        <small class="btn btn-sm btn-success status">Оплачено</small>
                                    {% elif meter_reading.status == 'zero' %}
                                        <small class="btn btn-sm btn-primary status">Нулевое</small>
                                    {% endif %}
                                </td>
                                <td data-href="{% url 'meter_reading_detail' meter_reading.id %}" class="tr-link">{{ meter_reading.date|date:"d.m.Y" }}</td>
                                <td data-href="{% url 'meter_reading_detail' meter_reading.id %}" class="tr-link">{{ meter_reading.date|date:"F Y" }}</td>
                                <td data-href="{% url 'meter_reading_detail' meter_reading.id %}" class="tr-link">
                                    {% for house in houses %}
                                        {% for section in house.sections.all %}
                                            {% if section == apartment.section %}
                                                {{ house.name }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                                <td data-href="{% url 'meter_reading_detail' meter_reading.id %}" class="tr-link">{{ apartment.section }}</td>
                                <td data-href="{% url 'meter_reading_detail' meter_reading.id %}" class="tr-link">{{ apartment.number }}</td>
                                <td data-href="{% url 'meter_reading_detail' meter_reading.id %}" class="tr-link">{{ meter_reading.meter }}</td>
                                <td data-href="{% url 'meter_reading_detail' meter_reading.id %}" class="tr-link">{{ meter_reading.expense }}</td>
                                <td data-href="{% url 'meter_reading_detail' meter_reading.id %}" class="tr-link">{{ meter_reading.meter.unit }}</td>
                                <td style="padding: 6px 5px 7px 4px">
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-default btn-sm" href="{% url 'meter_reading_update' meter_reading.id %}" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil-alt"></i></a>
                                        <button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ forloop.counter }}"><i class="fa fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal-{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel-{{ forloop.counter }}" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header bg-danger">
                                    <h5 class="modal-title" id="deleteModalLabel-{{ forloop.counter }}">Подтверждение удаления</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <form method="post" action="{% url 'meter_reading_delete' meter_reading.id %}">
                                      {% csrf_token %}
                                      <div class="modal-body">
                                          Вы действительно хотите удалить показания счетчика <b>№{{ meter_reading }}</b>?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="hidden" name="filter-date" value="" id="filter-date">
            </form>
        </div>
    </div>
    <div style="height: 30px"></div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="{% static 'crm/scripts/meter_readings/meter_readings_by_apartment_list.js' %}"></script>
    <script>
        // Filters
        init_data()
        if (localStorage.counter) {
            delete localStorage.counter
            $('#form').submit()
        }
        $('#clear').click(clear)

        $('input[name="input_date"]').daterangepicker({
            opens: 'center',
            autoUpdateInput: false,
            locale: {
                format: 'DD.MM.YYYY',
                "applyLabel": "Ок",
                "cancelLabel": "Отмена",
                "fromLabel": "От",
                "toLabel": "До",
                "customRangeLabel": "Произвольный",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                firstDay: 1
            }
        });

        $('input[name="input_date"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('DD.MM.YYYY') + ' - ' + picker.endDate.format('DD.MM.YYYY'));
        });

        $('input[name="input_date"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });


        // Messages
        {% if messages %}
        Swal.fire({
          backdrop: false,
          position: 'top-end',
          padding: 0,
          icon: 'success',
          width: 300,
          html: '{% for message in messages %}{% if message.tags == 'success' %}{{ message }}{% endif %}{% endfor %}',
          showConfirmButton: false,
          timer: 1500,
        })
        {% endif %}
    </script>
{% endblock %}