{% extends 'crm/layout/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        input.error {
            border: red 1px solid;
            position: relative;
            box-shadow: 0 0 4px 0 firebrick;
        }
        select.error {
            border: red 1px solid;
            position: relative;
            box-shadow: 0 0 4px 0 firebrick;
        }
        .container-fluid {
            font-size: 14px;
        }
    </style>
{% endblock %}

{% block meter-readings %}class="nav-link active-link" style="color: black; background-color: #e1f1ea"{% endblock %}

{% block title %}Новое показание{% endblock %}
{% block name_page %}Новое показание{% endblock %}
{% block previos_link %}<a href="{% url 'meter_readings_list' %}" style="color: #494949">/  Счетчики</a>{% endblock %}
{% block nav %}Новое показание{% endblock %}

{% block content %}
<form method="post" id="form">
    {% csrf_token %}
    <div class="row" style="padding-bottom: 10px; margin: 0">
        <div class="col-xl-6">
            <div class="row">
                <div class="input-group col-xl-6" style="padding-bottom: 10px">
                    <div class="form-control" style="max-width: 40px">№</div>
                    <div class="input-group-append">
                        {{ form.number }}
                    </div>
                </div>

                <div class="input-group col-xl-6">
                    <span style="padding-top: 4px; padding-right: 10px">от</span>
                    <div class="form-control" style="max-width: 40px"><i class="fa fa-calendar-alt"></i></div>
                    <div class="input-group-append">
                        {{ form.date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if form.errors %}
        <p style="color: red; margin: 0; font-size: 14px; padding-left: 10px">* Показания счетчика таким номером уже существуют</p>
    {% endif %}
    <div class="my-box" style="min-height: 0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.house.label }}</p>
                    {{ form.house }}
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">Секция</p>
                    {{ form.section }}
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.apartment.label }}</p>
                    {{ form.apartment }}
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.meter.label }}</p>
                    {{ form.meter }}
                </div>
                <div class="col-xl-6">
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.status.label }}</p>
                    {{ form.status }}
                    <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.expense.label }}</p>
                    {{ form.expense }}
                </div>
            </div>

            <div style="text-align: right; padding: 15px 16px 15px 0">
                <a href="{% url 'meter_readings_list' %}" class="btn btn-default">Отменить</a>
                <input type="submit" class="btn btn-success" name="save" value="Сохранить">
                <input type="submit" class="btn btn-success" name="save_and_add" value="Сохранить и добавить новые показания">
            </div>
        </div>
    </div>
    <div style="height: 30px"></div>
</form>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="{% static 'crm/scripts/meter_readings/meter_reading_create.js' %}"></script>
    <script>
        $(function (){
            $('#id_section option:not(:selected)').css('display', 'none')
            $('#id_apartment option:not(:selected)').css('display', 'none')
        })

        $('form').validate({
            rules: {
                expense: {min: 1}
            },
            messages: {
                date: {required: '* Обязательное поле'},
                apartment: {required: '* Обязательное поле'},
                meter: {required: '* Обязательное поле'},
                expense: {
                    required: '* Обязательное поле',
                    min: 'Показания должны быть положительными и не меньше 0'
                },
            },
            wrapper: 'p',
            errorPlacement: function (error, element) {
                error.css({'text-align': 'left', 'font-size': '14px', 'color': 'red', 'width': '100%'});
                error.insertAfter(element);
            }
        })
        $('input[type=text]').mask('99.99.9999');

        // ajax for section
        $('#id_house').change(function (){
            let house_id = $('#id_house').val()
            $.ajax({
                url: '{% url "get_apartment_in_m_r" %}',
                type: 'GET',
                data: {'house_id': house_id},
                success: (data) => {
                    $('#id_section option').remove()
                    $('#id_apartment option').remove()
                    if (data.sections) {
                        let data_sections = data.sections
                        let sections = ''
                        $(data_sections).each(function(index, value) {
                            sections += "<option value=" + value.id + ">" + value.name + "</option>"
                        })
                        $("#id_section").append("<option value selected>Выберите...</option>")
                        $("#id_apartment").append("<option value selected>Выберите...</option>")
                        $("#id_section").append(sections)
                    } else {
                        $("#id_section").append("<option value selected>Выберите...</option>")
                        $("#id_apartment").append("<option value selected>Выберите...</option>")
                    }
                },
                error: (data) => {
                    console.log('no')
                }
            })
        })

        // ajax for apartment
        $('#id_section').change(function (){
            let section_id = $(this).val()
            $.ajax({
                url: '{% url "get_apartment_in_m_r" %}',
                type: 'GET',
                data: {'section_id': section_id},
                success: (data) => {
                    $('#id_apartment option').remove()
                    if (data.apartments) {
                        let data_apartments = data.apartments
                        let apartments = ''
                        $(data_apartments).each(function (index, value) {
                            apartments += "<option value=" + value.id + ">" + value.number + "</option>"
                        })
                        $("#id_apartment").append("<option value selected>Выберите...</option>")
                        $("#id_apartment").append(apartments)
                    } else {
                        $("#id_apartment").append("<option value selected>Выберите...</option>")
                    }
                },
                error: (data) => {
                    console.log('no')
                }
            })
        })

        // Messages
        {% if messages %}
        Swal.fire({
          backdrop: false,
          position: 'top-end',
          padding: 0,
          icon: 'success',
          width: 300,
          html: '{% for message in messages %}{% if message.tags == 'success' %}{{ message }}{% endif %}{% endfor %}',
          showConfirmButton: false,
          timer: 1500,
        })
        {% endif %}
    </script>
{% endblock %}