{% extends 'personal_cabinet/layout/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css">
    <style>
        select.error {
            border: red 1px solid;
            position: relative;
            box-shadow: 0 0 4px 0 firebrick;
        }
        textarea.error {
            border: red 1px solid;
            position: relative;
            box-shadow: 0 0 4px 0 firebrick;
        }

        .container-fluid {
            font-size: 14px;
        }
    </style>
{% endblock %}

{% block applications %}class="nav-link active-link" style="color: black; background-color: #e1f1ea"{% endblock %}

{% block title %}Новая заявка{% endblock %}
{% block name_page %}Новая заявка{% endblock %}
{% block previos_link %}<a href="{% url 'owner_applications_list' %}" style="color: #494949">/ Вызов мастера</a>{% endblock %}
{% block nav %}Новая заявка{% endblock %}

{% block content %}
<div class="my-box" style="min-height: 0">
    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data" id="form">
            {% csrf_token %}

            <div style="padding: 5px">
                <p style="font-weight: bold; margin: 0">{{ form.type_master.label }}</p>
                {{ form.type_master }}
                <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.apartment.label }}</p>
                <select name="apartment" class="form-select" required="" id="id_apartment">
                  <option value="" selected="">Выберите...</option>
                  {% for apartment in user.apartment.all %}
                      {% for house in houses %}
                          {% if apartment.section in house.sections.all %}
                            <option value="{{ apartment.id }}">{{ house.name }}, кв.{{ apartment.number }}</option>
                          {% endif %}
                      {% endfor %}
                  {% endfor %}
                </select>
                <div class="row">
                    <div class="col-xl-6">
                        <p style="font-weight: bold; margin: 0; padding-top: 10px">Дата работ</p>
                        <div class="input-group">
                            {{ form.date }}
                            <div class="form-control" style="max-width: 40px"><i class="fa fa-calendar-alt"></i></div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <p style="font-weight: bold; margin: 0; padding-top: 10px">Время работ</p>
                        <div class="input-group">
                            {{ form.time }}
                            <div class="form-control" style="max-width: 40px"><i class="fa fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>
                <p style="font-weight: bold; margin: 0; padding-top: 10px">{{ form.description.label }}</p>
                {{ form.description }}
                {{ form.status }}
            </div>

            <div style="text-align: right; padding: 15px 16px 15px 0">
                <input type="submit" class="btn btn-success" name="save" value="Отправить заявку">
            </div>
        </form>
    </div>
</div>

<div style="height: 30px"></div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="{% static 'crm/scripts/applications/application_create.js' %}"></script>
    <script>
        // VALIDATION
        $("#form").validate({
          rules: {

          },
          messages: {
              date: {required: '* Обязательное поле'},
              time: {required: '* Обязательное поле'},
              description: {required: '* Обязательное поле'},
              apartment: {required: '* Обязательное поле'},
          },
          wrapper: 'span',
          errorPlacement: function (error, element) {
              error.css({'text-align': 'left', 'font-size': '14px', 'color': 'red', 'width': '100%'});
              error.insertAfter(element);
          }
        });


        // date pickers
        $('input[name="date"]').mask('99.99.9999');
        $('input[name="time"]').timepicker({
            showInputs: false,
            showMeridian: false,
        });
    </script>
{% endblock %}